body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}
.about-me{
    background-image: url("./shapes/7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}