body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 20px;
}
.about-me{
    background-image: url("./shapes/7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about img{
width: 300px;
}
.about-2{
    margin-left: -15%;
    padding-top: 10%;
}
.food-recipie{
    display: flex;
    margin-bottom: 80px;
}
.different-itm{
    text-align: left;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 10px 10px 40px gray;
}
.text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.food-recipie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.different-itm img{
    width: 300px;
    border-radius: 20px;

}
.recipie{
    display: block;
}
.food-recipie{
    margin: 0;
}
.text h2,.text small{
    color: gray;
}
.text h2{
    font-size: 50px;
    margin-bottom: 0px;
}
.countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
  }
  .countdown-item{
      padding: 20px;

  }
  .footer-section{
    background: black;
    padding: 70px;
    text-align: center;
    color: white;
    margin-top: 50px;
    display: block;
  }